<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body style="text-align: center">
    {{>header}}
    <p>Use this site to get your weather!</p>
    <form>
        <input type="text" placeholder="Seach location...">
        <button>Search</button>
    </form>
    <p id="forecast"></p>
    <p id="loc"></p>
    <footer>{{>footer}}</footer>
    <script src="/js/app.js"></script>

</body>

</html>